extends layout.pug

append head
	title Game Connect - Profile
block content
	.row
	h2.
		#{username} 

	.row(style="position:relative; margin-top: 7%")
		h4 Games You've Reviewed:

	each val in [1,2,3,4,5]
		<br>
		.row
		<div class="rate" name="Game#{val}" style="position:relative; left: 20%;">
			<input type="radio" id="star#{val}5" name="GameNumber#{val}" value="5" />
			<label for="star#{val}5" title="text"></label>
			<input type="radio" id="star#{val}4" name="GameNumber#{val}" value="4" />
			<label for="star#{val}4" title="text"></label>
			<input type="radio" id="star#{val}3" name="GameNumber#{val}" value="3" />
			<label for="star#{val}3" title="text"></label>
			<input type="radio" id="star#{val}2" name="GameNumber#{val}" value="2" />
			<label for="star#{val}2" title="text"></label>
			<input type="radio" id="star#{val}1" name="GameNumber#{val}" value="1" />
			<label for="star#{val}1" title="text"></label>
		</div>
		.row
		h5(style="position:relative;left:-13%;") <u> Game #{val} </u>
